<style>
.album-content{
  margin-top: 160px;
}
</style>


{% extends 'music/base.html' %}
{% block title %}專輯內容{% endblock %}

{% block body %}
<section class="album-content">
  <div class="container">
    <div class="col-md-12">
      <div class="row-fluid row">

        <div class="col-md-3 row-fluid row">
          <img src="{{ album.album_logo.url }}">
        </div>

        <div class="col-md-9 row-fluid row"></div>
      </div>
    </div>
  </div>
</section>

<section class="album-song">
  <div class="container">
    <div class="col-md-12">
      <div class="row-fluid row">
        <h4>專輯歌曲 <span>( 共 {{ album.song_set.all.count }} 首)</span></h4>
      </div>
    </div>
  </div>
</section>
{% endblock %}