<style>
.index{
  margin-top: 100px;
}

.album-rank{
  margin-top: 40px;
}

.popular-singer{
  margin: 40px 0 50px 0;
}

.video-play button{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;   
}

.index-check{
  margin-bottom: 50px;
}

</style>

{% extends 'music/base.html' %}
{% block title %}首頁{% endblock %}

{% block body %}
  <!--  Song Category --> 
  <section class="secondary-header">
    <ul class="nav nav-pills nav-pills-center">
      <li role="presentation" class="active">
        <a href="{% url 'music:index' %}"><span>全部專輯</span></a> 
      </li>
      
      {% for categories in all_categories %}
      <li role="presentation" class="">
        <a href="{% url 'music:list_of_album_by_category' categories.id %}"><span>{{ categories.name }}專輯</span></a> 
      </li>
      {% endfor %}
    </ul>
  </section>

  <!--  Index Corousel --> 
  <section class="index-corousel">
    <div class="container">
      <div class="col-md-12">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <!--first item-->
          <div class="item active">
            <div class="container">

              <div class="slide-wrapper">
                <div class="col-md-12">
                  <div class="slide-image">
                    <div class="thumbnail">
                      <!--img src="image/slide/slide-1.jpg" alt="slide-1"-->
                      {% load staticfiles %}
                      <img src="{% static 'music/images/slider/index-slider-1.jpg' %}"/> 
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!--second item-->
          <div class="item">
            <div class="container">

              <div class="slide-wrapper">
                <div class="col-md-12">
                  <div class="slide-image">
                    <div class="thumbnail">
                      <!--img src="image/slide/slide-2.jpg" alt="slide-1"-->
                      {% load staticfiles %}
                      <img src="{% static 'music/images/slider/index-slider-2.jpg' %}"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--third item-->
          <div class="item">
            <div class="container">
              <div class="slide-wrapper">
                <div class="col-md-12">
                  <div class="slide-image">
                    <div class="thumbnail">
                      <!--img src="image/slide/slide-3.jpg" alt="slide-1"-->
                      {% load staticfiles %}
                      <img src="{% static 'music/images/slider/index-slider-3.jpg' %}"/>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>

          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  </section>

  <section class="album-recommend">
    <div class="container">
      <div class="col-md-12">
        <h3>影音推薦</h3>
        <div class="row-fluid row">
          <div class="video-play" >
            <img src="https://img.youtube.com/vi/rD-T5pzH9b0/maxresdefault.jpg" alt="">
            <!--------------------------------------------------------------------->
            <!-- Button trigger modal -->
            <span>
              <button type="button" data-toggle="modal" data-target="#trigger_1">
                觀看影音
              </button>
            </span>
            
            <!-- Modal -->
            <div class="modal fade" id="trigger_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body"> 
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/rD-T5pzH9b0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>       
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <!--------------------------------------------------------------------->

            <h4 style="margin-top: 20px;">盧廣仲 Crowd Lu【愛情怎麼了嗎 Self-complacent】Official Music Video</h4>
          </div>


          <div class="video-play" >
            <img src="https://img.youtube.com/vi/Ra-Om7UMSJc/maxresdefault.jpg" alt="">
            <!--------------------------------------------------------------------->
            <!-- Button trigger modal -->
            <span>
              <button type="button" data-toggle="modal" data-target="#trigger_2">
                觀看影音
              </button>
            </span>
            
            <!-- Modal -->
            <div class="modal fade" id="trigger_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body"> 
                    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Ra-Om7UMSJc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <!--------------------------------------------------------------------->

            <h4 style="margin-top: 20px;">Stray Kids "MIROH" M/V</h4>
          </div>

          <div class="video-play" >
            <img src="https://img.youtube.com/vi/nn48zwymeNA/maxresdefault.jpg" alt="">
            
            <!--------------------------------------------------------------------->
            <!-- Button trigger modal -->
            <span>
              <button type="button" data-toggle="modal" data-target="#trigger_3">
                觀看影音
              </button>
            </span>
            <!-- Modal -->
            <div class="modal fade" id="trigger_3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body"> 
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/85dtGS32FIs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>     
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <!--------------------------------------------------------------------->

            <h4 style="margin-top: 20px;">Why Don't We - Cold in LA 寒冷洛杉磯 (華納official HD 高畫質官方中字版)</h4>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="album-rank">
    <div class="container">
      <div class="col-md-12">
        <h3 style="margin-bottom: 20px;">排行榜</h3>
        <div class="row-fluid row">
          <!--table1-->
          <div class="col-md-4">
            <table class="table-rank table table-striped table-bordered">
              <tr>
                <th class="text-center">華語榜單</th>
              </tr>

              {% for album in all_albums|slice:":8" %}  
                {% if album.category_id = 1 %} 
                <tr>             
                  <td>
                    <div style="float: left;padding-top: 10px;">Top</div>
                    <div style="float: left;padding-left: 20px;">
                      <a href="{% url 'music:detail' album.id %}">
                        <strong><em>{{ album.album_title }}</em></strong>
                      </a>
                      <br>
                      <p>{{ album.singer.singer_name }}</p>
                    </div>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{album.id}}" style="float: right;">
                      收聽
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="{{album.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <span class="modal-title" id="exampleModalLabel">
                            {{ album.album_title }}
                            </span>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            {% for song in album.song_set.all %}
                              
                              <audio controls>
                                <source src="{{ song.audio_file.url }}" type="audio/mpeg">
                              </audio>
                              <span style="padding-left: 20px;">
                                {{ song.song_name }}
                              </span>           
                            {% endfor %}
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div>
                  </td> 
                <tr>
                {% endif %}  
              {% endfor %} 
            </table>
          </div>

          <!--table2-->
          <div class="col-md-4">
            <table class="table-rank table table-striped table-bordered">
              <tr>
                <th class="text-center">西洋榜單</th>
              </tr>

              {% for album in all_albums %}  
                {% if album.category_id = 2 %} 
                <tr>             
                  <td>
                    <div style="float: left;padding-top: 10px;">Top</div>
                    <div style="float: left;padding-left: 20px;">
                      <a href="{% url 'music:detail' album.id %}">
                        <strong><em>{{ album.album_title }}</em></strong>
                      </a>
                      <br>
                      <p>{{ album.singer.singer_name }}</p>
                    </div>

                    <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{album.id}}" style="float: right;">
                    收聽
                  </button>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="{{album.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <span class="modal-title" id="exampleModalLabel">
                          {{ album.album_title }}
                          </span>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          {% for song in album.song_set.all %}
                            
                            <audio controls>
                              <source src="{{ song.audio_file.url }}" type="audio/mpeg">
                            </audio>
                            <span style="padding-left: 20px;">
                              {{ song.song_name }}
                            </span>           
                          {% endfor %}
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                  </td> 
                <tr>
                {% endif %}  
              {% endfor %} 
            </table>
          </div>

          <!-- table 3-->
          <div class="col-md-4">
            <table class="table-rank table table-striped table-bordered">
              <tr>
                <th class="text-center">台語榜單</th>
              </tr>

              {% for album in all_albums %}  
                {% if album.category_id = 3 %} 
                <tr>             
                  <td>
                    <div style="float: left;padding-top: 10px;">Top</div>
                    <div style="float: left;padding-left: 20px;">
                      <a href="{% url 'music:detail' album.id %}">
                        <strong><em>{{ album.album_title }}</em></strong>
                      </a>
                      <br>
                      <p>{{ album.singer.singer_name }}</p>
                    </div>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{album.id}}" style="float: right;">
                      收聽
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="{{album.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <span class="modal-title" id="exampleModalLabel">
                            {{ album.album_title }}
                            </span>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            {% for song in album.song_set.all %}
                              
                              <audio controls>
                                <source src="{{ song.audio_file.url }}" type="audio/mpeg">
                              </audio>
                              <span style="padding-left: 20px;">
                                {{ song.song_name }}
                              </span>           
                            {% endfor %}
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div>
                  </td> 
                <tr>
                {% endif %}  
              {% endfor %} 
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="popular-singer">
    <div class="container">
      <div class="col-md-12">
        <h3 style="margin-bottom: 30px;">熱門歌手</h3>
        <div class="row-fluid row">
          <div class="singer-content">
            {% for singer in all_singers|slice:":6" %}
            <div class="col-md-2"> 
              <a href="{% url 'music:singer_show' singer.id %}">
                <img src="{{singer.singer_avatar.url}}" style="border-radius: 50%;">
              </a>
              <p class="text-center">{{ singer.singer_name }}</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--
  <section class="index-check">
    <div class="container">
      <div class="col-md-12">
        <a href="{% url 'music:album-add' %}">新增專輯</a>-->
        <!--{% if all_albums %}
          <h3 style="margin-top: 30px;">here are all my albums </h3>
          <ul>
            {% for album in all_albums %}
              <li>
                {{album.singer.singer_name}}
                <a href="{% url 'music:detail' album.id %}">{{album.album_title}}</a>
              </li>
            {% endfor %}
            
          </ul>

        {% else %}

          <h3>you don't have any album</h3>

        {% endif %}
      </div>
    </div>
  </section>
  -->
{% endblock %}
