<style>
  
.popular-singer{
  margin-bottom: 50px;
}
</style>

{% extends 'music/base.html' %}
{% block title %}{{ category.name }}{% endblock %}

{% block body %}
  <!--  Song Category --> 
  <section class="secondary-header">
    <ul class="nav nav-pills nav-pills-center">
      <li role="presentation">
        <a href="{% url 'music:index' %}"><span>全部專輯</span></a> 
      </li>
      
      {% for categories in categories %}
      <li role="presentation" class="">
        <a href="{% url 'music:list_of_album_by_category' categories.id %}"><span>{{ categories.name }}專輯</span></a> 
      </li>
      {% endfor %}
    </ul>
  </section>

  <!--  Index Corousel --> 
  <section class="index-corousel">
    <div class="container">
      <div class="col-md-12">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <!--first item-->
          <div class="item active">
            <div class="container">

              <div class="slide-wrapper">
                <div class="col-md-12">
                  <div class="slide-image">
                    <div class="thumbnail">
                      <!--img src="image/slide/slide-1.jpg" alt="slide-1"-->
                      {% load staticfiles %}
                      <img src="{% static 'music/images/slider/slide-1.jpg' %}"/> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--second item-->
          <div class="item">
            <div class="container">

              <div class="slide-wrapper">
                <div class="col-md-12">
                  <div class="slide-image">
                    <div class="thumbnail">
                      <!--img src="image/slide/slide-2.jpg" alt="slide-1"-->
                      {% load staticfiles %}
                      <img src="{% static 'music/images/slider/slide-2.jpg' %}"/>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!--third item-->
          <div class="item">
            <div class="container">
              <div class="slide-wrapper">
                <div class="col-md-12">
                  <div class="slide-image">
                    <div class="thumbnail">
                      <!--img src="image/slide/slide-3.jpg" alt="slide-1"-->
                      {% load staticfiles %}
                      <img src="{% static 'music/images/slider/slide-3.jpg' %}"/>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>

          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  </section>

  <section class="album-recommend">
    <div class="container">
      <div class="col-md-12">
        <h3>影音推薦</h3>
        <div class="row-fluid row">
          <div class="video-play" >
            <img src="https://img.youtube.com/vi/rD-T5pzH9b0/maxresdefault.jpg" alt="">
            <span>觀看影音</span>
            <h4 style="margin-top: 20px;">盧廣仲 Crowd Lu【愛情怎麼了嗎 Self-complacent】Official Music Video</h4>
          </div>

          <div class="video-play" >
            <img src="https://img.youtube.com/vi/Dab4EENTW5I/maxresdefault.jpg" alt="">
            <span>觀看影音</span>
            <h4 style="margin-top: 20px;">Stray Kids "MIROH" M/V</h4>
          </div>

          <div class="video-play" >
            <img src="https://img.youtube.com/vi/nn48zwymeNA/maxresdefault.jpg" alt="">
            <span>觀看影音</span>
            <h4 style="margin-top: 20px;">Why Don't We - Cold in LA 寒冷洛杉磯 (華納official HD 高畫質官方中字版)</h4>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="album-rank">
    <div class="container">
      <div class="col-md-12">
        <h3 style="margin-top: 30px;margin-bottom: 20px;">排行榜</h3>
        <div class="row-fluid row">
          <!--table1-->
          <div class="col-md-4">
            <table class="table-rank table table-striped table-bordered">
              <tr>
                <th class="text-center">熱門單曲</th>
              </tr>

              
              {% for song in songs|slice:":6" %}  
              <tr>             
                <td>
                  <div style="float: left;padding-top: 10px;">{{ forloop.counter}}</div>
                  <div style="float: left;padding-left: 20px;">
                    <strong><em>{{ song.song_name }}</em></strong>
                    <br>
                    <p>{{ song.singer.singer_name }}</p>
                  </div>

                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{song.id}}" style="float: right;">
                    收聽
                  </button>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="{{song.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <span class="modal-title" id="exampleModalLabel">
                          {{ song.song_name }}
                          </span>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body"> 
                          <audio controls>
                            <source src="{{ song.audio_file.url }}" type="audio/mpeg">
                          </audio>
                          <span style="padding-left: 20px;">
                            {{ song.song_name }}
                          </span>           
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </td> 
              <tr> 
              {% endfor %}         
            </table>
          </div>

          <!--table2-->
          <div class="col-md-4">
            <table class="table-rank table table-striped table-bordered">
              <tr>
                <th class="text-center">熱門專輯</th>
              </tr>

              {% for album in albums|slice:":6" %}
              <tr>             
                <td>
                  <div style="float: left;padding-top: 10px;">{{ forloop.counter}}</div>
                  <div style="float: left;padding-left: 20px;">
                    <a href="{% url 'music:detail' album.id %}">
                      <strong><em>{{ album.album_title }}</em></strong>
                    </a>
                    <br>
                    <p>{{ album.singer.singer_name }}</p>
                  </div>

                  <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{album.id}}" style="float: right;">
                  收聽
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="{{album.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <span class="modal-title" id="exampleModalLabel">
                        {{ album.album_title }}
                        </span>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        {% for song in album.song_set.all %}
                          
                          <audio controls>
                            <source src="{{ song.audio_file.url }}" type="audio/mpeg">
                          </audio>
                          <span style="padding-left: 20px;">
                            {{ song.song_name }}
                          </span>           
                        {% endfor %}
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
                </td> 
              <tr>
              {% endfor %} 

            </table>
          </div>

          <!--table3-->
          <div class="col-md-4">
            <table class="table-rank table table-striped table-bordered">
              <tr>
                <th class="text-center">懷舊專輯</th>
              </tr>

              {% for album in albums|slice:":6" %}
              <tr>             
                <td>
                  <div style="float: left;padding-top: 10px;">{{ forloop.counter}}</div>
                  <div style="float: left;padding-left: 20px;">
                    <a href="{% url 'music:detail' album.id %}">
                      <strong><em>{{ album.album_title }}</em></strong>
                    </a>
                    <br>
                    <p>{{ album.singer.singer_name }}</p>
                  </div>

                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{album.id}}" style="float: right;">
                    收聽
                  </button>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="{{album.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <span class="modal-title" id="exampleModalLabel">
                          {{ album.album_title }}
                          </span>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          {% for song in album.song_set.all %}
                            <audio controls>
                              <source src="{{ song.audio_file.url }}" type="audio/mpeg">
                            </audio>
                            <span style="padding-left: 20px;">
                              {{ song.song_name }}
                            </span>           
                          {% endfor %}
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </td> 
              <tr>
              {% endfor %} 
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="popular-singer">
    <div class="container">
      <div class="col-md-12">
        <h3 style="margin-top: 20px;margin-bottom: 20px;">熱門歌手</h3>
        <div class="row-fluid row">
          <div class="singer-content">
            {% for singer in singers|slice:":6" %}
              <div class="col-md-2"> 
                <a href="{% url 'music:singer_show' singer.id %}">
                  <img src="{{singer.singer_avatar.url}}" style="border-radius: 50%;">
                </a>
                <p class="text-center">{{singer.singer_name}}</p>
              </div> 
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>  


{% endblock %}

